.fixedHeightContainer {
    height: 350px;
    padding: 3px; 
    background: rgb(201, 166, 166);
}
.content {
    height: 350px;
    overflow: auto;
    background: #fff;
}
.rated-filter {
    padding-bottom: 20px;
}